body {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(
    89.5deg,
    rgb(104, 208, 232) 1.5%,
    rgb(231, 144, 245) 100.5%
  );
  color: rgba(90, 68, 117, 0.6);
  min-height: 100vh;
  margin: auto;
  padding: 0 15px;
}

.container {
  max-width: 600px;
  padding: 0;
  margin: auto;
}

.search {
  text-align: center;
  margin: 80px auto 20px auto;
  max-width: 500px;
}

a {
  text-decoration: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.location-button {
  height: 45px;
  max-width: 55px;
  text-align: center;
  padding: 1px;
  margin: auto;
  background-color: rgba(90, 68, 117, 0.6);
  color: #fff;
  border-width: 1px;
  border-color: rgba(90, 68, 117, 0.1);
  border-radius: 10px;
  border-style: double;
}

.search-city {
  letter-spacing: 1px;
  height: 45px;
  max-width: 375px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(90, 68, 117);
  border-width: 1px;
  border-color: rgb(244, 242, 250);
  border-radius: 10px;
  border-style: double;
}

.search-button {
  font-size: 15px;
  letter-spacing: 0.5px;
  height: 45px;
  max-width: 70px;
  margin: auto;
  padding: 1px;
  background-color: rgba(118, 110, 238, 0.8);
  color: #fff;
  border-width: 1px;
  border-color: rgba(118, 110, 238, 0.3);
  border-radius: 10px;
  border-style: double;
}

.current {
  cursor: default;
  color: #fff;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
}

.noncurrent {
  text-decoration: none;
  color: rgba(90, 68, 117, 0.6);
  font-weight: 600;
}

.current-weather-container {
  border: 1px solid rgba(235, 239, 250, 0.4);
  border-radius: 25px;
  padding: 25px;
  max-width: 500px;
  margin: 10px auto;
  background-color: rgba(250, 250, 250, 0.35);
  box-shadow: 4px 4px 4px rgb(90 68 117 / 20%);
}

.current-temperature {
  text-align: left;
}

.my-temp {
  font-size: 65px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
}

.temp-unit {
  position: relative;
  top: -28px;
  left: -3px;
  font-size: 20px;
  text-align: center;
  margin-left: 8px;
  color: #fff;
}

.my-city {
  text-align: left;
}

.city {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
}

.day-time {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
  text-align: left;
}

.weather-type {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
  text-align: left;
}

.weather-icon {
  text-align: center;
}

.sun {
  margin: auto;
  max-width: 190px;
  font-size: 100px;
  color: yellow;
}

.row-middle {
  padding: 10px;
  max-width: 500px;
  margin: 10px auto;
  border: 1px solid rgba(235, 239, 250, 0.4);
  border-radius: 25px;
  background-color: rgba(250, 250, 250, 0.35);
  box-shadow: 4px 4px 4px rgb(90 68 117 / 20%);
}

.wind,
.humidity,
.low,
.high {
  margin: auto;
  padding: 5px;
  max-width: 90px;
  height: 130px;
  font-size: 19px;
  text-align: center;
  line-height: 38px;
  color: rgb(100, 91, 230);
  text-shadow: 1px 2px 3px rgb(161 161 161 / 60%);
}

.weather-details {
  color: #fff;
  letter-spacing: 0.5px;
  margin: auto;
  font-size: 15px;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
  text-align: center;
  max-width: 90px;
}

.pic {
  color: rgba(90, 68, 117, 0.6);
  font-weight: 600;
  margin: auto;
  display: block;
  font-size: 50px;
}

.details-info {
  margin: 3px auto;
  font-size: 17px;
  font-weight: 600;
}

.future-forecast {
  padding: 15px;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 25px;
  border: 1px solid rgba(235, 239, 250, 0.4);
  background-color: rgba(250, 250, 250, 0.35);
  box-shadow: 4px 4px 4px rgb(90 68 117 / 20%);
}

.days {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.5px;
  text-shadow: 1px 2px 3px rgb(99 99 99 / 70%);
}

.small-icons {
  text-align: center;
  margin: 5px auto;
}

i {
  vertical-align: middle;
}

.week-temps {
  text-align: center;
  text-shadow: 1px 2px 3px rgb(161 161 161 / 60%);
  max-width: 70px;
  font-size: 17px;
}

.high-temp {
  font-weight: 600;
  color: rgb(100, 91, 230);
}

.low-temp {
  color: rgba(90, 68, 117, 0.6);
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}

.sourceCode {
}
